.carrosel__titulo {
  color: var(--cor-laranja);
  background-color: var(--cor-branca);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 700;
  padding: 1em 0 0.5em 0;
}
